{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 50,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf"
}
